# RentListingInquries

## 基本信息
bathrooms: 浴室的数量number of bathrooms
bedrooms: 卧室数量number of bedrooms
building_id: ID号
created: 
description: 描述
display_address: 
features: 关于这间公寓的功能列表a list of features about this apartment
latitude: 纬度
listing_id
longitude: 经度
manager_id
photos: 照片链接列表a list of photo links. You are welcome to download the pictures yourselves from renthop's site, but they are the same as imgs.zip. 
price: 以美元计算in USD
street_address: 街道地址
interest_level: 这是目标变量。它有3个类别：'高'，'中等'，'低'this is the target variable. It has 3 categories: 'high', 'medium', 'low'

## 导入工具包

In [1]:
# 数据导入与处理
import numpy as np
import pandas as pd
# 数据可视化
import matplotlib.pyplot as plt
import seaborn as sns

特征工程处理过程见"./FE_RentListingInqueries.ipynb"

## 导入数据

In [2]:
# 课程网站提供的特征工程编码后的数据（RentListingInquries_FE_train.csv）
# 或稀疏编码的形式（RentListingInquries_FE_train.bin）
dpath = '../data/RentListingInquries/'
train = pd.read_csv(dpath+'RentListingInquries_FE_train.csv')
train.head()

,bathrooms,bedrooms,price,price_bathrooms,price_bedrooms,room_diff,room_num,Year,Month,Day,...,walk,walls,war,washer,water,wheelchair,wifi,windows,work,interest_level
0,1.5,3,3000,1200.0,750.000000,-1.5,4.5,2016,6,24,...,0,0,0,0,0,0,0,0,0,1
1,1.0,2,5465,2732.5,1821.666667,-1.0,3.0,2016,6,12,...,0,0,0,0,0,0,0,0,0,2
2,1.0,1,2850,1425.0,1425.000000,0.0,2.0,2016,4,17,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1,3275,1637.5,1637.500000,0.0,2.0,2016,4,18,...,0,0,0,0,0,0,0,0,0,2
4,1.0,4,3350,1675.0,670.000000,-3.0,5.0,2016,4,28,...,0,0,1,0,0,0,0,0,0,2

In [3]:
# 测试数据
test = pd.read_csv(dpath+'RentListingInquries_FE_test.csv')
test.head()

,bathrooms,bedrooms,price,price_bathrooms,price_bedrooms,room_diff,room_num,Year,Month,Day,...,virtual,walk,walls,war,washer,water,wheelchair,wifi,windows,work
0,1.0,1,2950,1475.000000,1475.000000,0.0,2.0,2016,6,11,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2,2850,1425.000000,950.000000,-1.0,3.0,2016,6,24,...,0,0,0,1,0,0,0,0,0,0
2,1.0,1,3758,1879.000000,1879.000000,0.0,2.0,2016,6,3,...,0,0,0,0,0,0,0,0,0,0
3,1.0,2,3300,1650.000000,1100.000000,-1.0,3.0,2016,6,11,...,0,0,0,0,0,0,1,0,0,0
4,2.0,2,4900,1633.333333,1633.333333,0.0,4.0,2016,4,12,...,0,0,0,1,0,0,0,0,0,0

In [4]:
train.isnull().sum().sort_values()

bathrooms         0
month             0
multi             0
natural           0
new               0
newly             0
ok                0
outdoor           0
oversized         0
park              0
parking           0
patio             0
modern            0
pet               0
photos            0
playroom          0
pool              0
post              0
pre               0
prewar            0
private           0
publicoutdoor     0
queen             0
ramp              0
reduced           0
pets              0
midrise           0
microwave         0
massive           0
high              0
                 ..
work              0
doorman           0
dishwasher        0
business          0
cable             0
cats              0
ceiling           0
ceilings          0
center            0
central           0
chef              0
children          0
childrens         0
clean             0
cleaning          0
close             0
closet            0
closets           0
club              0
common            0
concierge         0
conditioning      0
construction      0
courtyard         0
deck              0
decorative        0
details           0
dining            0
dogs              0
interest_level    0
Length: 228, dtype: int64

In [5]:
test.isnull().sum().sort_values()

bathrooms                     0
modern                        0
month                         0
multi                         0
natural                       0
new                           0
newly                         0
ok                            0
outdoor                       0
oversized                     0
park                          0
parking                       0
midrise                       0
patio                         0
pets                          0
photos                        0
playroom                      0
pool                          0
post                          0
pre                           0
prewar                        0
private                       0
publicoutdoor                 0
queen                         0
ramp                          0
pet                           0
microwave                     0
massive                       0
marble                        0
hi                            0
                          ...
dishwasher                    0
cable                         0
cats                          0
ceiling                       0
ceilings                      0
center                        0
central                       0
chef                          0
children                      0
childrens                     0
clean                         0
cleaning                      0
close                         0
closet                        0
closets                       0
club                          0
common                        0
concierge                     0
conditioning                  0
construction                  0
courtyard                     0
deck                          0
decorative                    0
details                       0
dining                        0
dogs                          0
work                          0
display_address_pred_0    74659
display_address_pred_1    74659
display_address_pred_2    74659
Length: 227, dtype: int64

test中 'display_address_pred_0', 'display_address_pred_1', 'display_address_pred_2' 全部都是nan, 舍弃此特征

In [7]:
train.drop(['display_address_pred_0', 'display_address_pred_1', 'display_address_pred_2'], axis=1, inplace=True)
test.drop(['display_address_pred_0', 'display_address_pred_1', 'display_address_pred_2'], axis=1, inplace=True)

In [4]:
"building_id" in test.columns

False

In [9]:
print('train.shape='+str(train.shape))
print('test.shape='+str(test.shape))

train.shape=(49352, 225)
test.shape=(74659, 224)

In [10]:
train.iloc[0,:].T

bathrooms             1.50000
bedrooms              3.00000
price              3000.00000
price_bathrooms    1200.00000
price_bedrooms      750.00000
room_diff            -1.50000
room_num              4.50000
Year               2016.00000
Month                 6.00000
Day                  24.00000
Wday                  4.00000
Yday                176.00000
hour                  7.00000
top_10_manager        1.00000
top_25_manager        1.00000
top_5_manager         1.00000
top_50_manager        1.00000
top_1_manager         0.00000
top_2_manager         0.00000
top_15_manager        1.00000
top_20_manager        1.00000
top_30_manager        1.00000
cenroid               5.00000
distance              0.04026
1br                   0.00000
24                    0.00000
2br                   0.00000
3br                   0.00000
ac                    0.00000
access                0.00000
                      ...
sublet                0.00000
subway                0.00000
super                 0.00000
superintendent        0.00000
swimming              0.00000
tenant                0.00000
term                  0.00000
terrace               0.00000
time                  0.00000
tons                  0.00000
train                 0.00000
true                  0.00000
tv                    0.00000
unit                  0.00000
utilities             0.00000
valet                 0.00000
video                 0.00000
view                  0.00000
views                 0.00000
virtual               0.00000
walk                  0.00000
walls                 0.00000
war                   0.00000
washer                0.00000
water                 0.00000
wheelchair            0.00000
wifi                  0.00000
windows               0.00000
work                  0.00000
interest_level        1.00000
Name: 0, Length: 225, dtype: float64

## 分割数据

In [11]:
# 数据量太大,分割数据
train = train.sample(frac=0.2)
train.shape

(9870, 225)

In [12]:
# 区分测试集与训练集
X = train.drop('interest_level', axis=1)
y = train['interest_level']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y
    , test_size=0.2
    , random_state=33
    , stratify=y)

In [13]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7896 entries, 33177 to 26881
Columns: 224 entries, bathrooms to work
dtypes: float64(6), int64(218)
memory usage: 13.6 MB

# 模型选择

## DecisionTreeClassifier

In [14]:
# 分类评分标准
from sklearn.metrics import roc_auc_score 
from sklearn.metrics import accuracy_score

In [15]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier()

In [16]:
model_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
y_pd = model_tree.predict(X_test)
model_tree.score(X_test, y_pd)

1.0

print(roc_auc_score(y_test,y_pdpbed))

缺省的决策树正确率为1,nice

In [18]:
#查看特征重要性
df = pd.DataFrame({"columns":list(X_train.columns), "importance":list(model_tree.feature_importances_.T)})
df.sort_values(by=['importance'],ascending=False)

             columns  importance
4     price_bedrooms    0.123865
23          distance    0.101251
3    price_bathrooms    0.079985
11              Yday    0.078794
2              price    0.075549
9                Day    0.066488
12              hour    0.062185
10              Wday    0.041940
22           cenroid    0.029743
93               fee    0.023302
125          laundry    0.021247
98            floors    0.011429
82           doorman    0.010744
81              dogs    0.010543
88          elevator    0.010175
80        dishwasher    0.009900
17     top_1_manager    0.009822
20    top_20_manager    0.009290
57              cats    0.009220
18     top_2_manager    0.008762
15     top_5_manager    0.008753
32           allowed    0.008631
208             unit    0.008588
6           room_num    0.007356
217              war    0.007026
181          simplex    0.006921
8              Month    0.006579
185            space    0.006564
110         hardwood    0.006311
13    top_10_manager    0.005697
..               ...         ...
128             live    0.000000
129           living    0.000000
130            lndry    0.000000
131            lobby    0.000000
133              lot    0.000000
135          lowrise    0.000000
136           luxury    0.000000
138          massive    0.000000
139        microwave    0.000000
140          midrise    0.000000
118             huge    0.000000
116           hour.1    0.000000
85            duplex    0.000000
115             home    0.000000
86               eat    0.000000
87              elev    0.000000
89     entertainment    0.000000
92        facilities    0.000000
96              flex    0.000000
97             floor    0.000000
101               ft    0.000000
102            fully    0.000000
104           garage    0.000000
106          granite    0.000000
107            green    0.000000
108              gut    0.000000
109              gym    0.000000
111           health    0.000000
114         highrise    0.000000
223             work    0.000000

[224 rows x 2 columns]

有好多的特征都起到作用了,估计树的深度较深

调节参数试试

In [19]:
from sklearn.tree import DecisionTreeClassifier

model_DD = DecisionTreeClassifier()

max_depth = range(1,10,1)
min_samples_leaf = range(1,10,2)

tuned_parameters = dict(max_depth=max_depth, min_samples_leaf=min_samples_leaf)

In [20]:
from sklearn.model_selection import GridSearchCV
DD = GridSearchCV(model_DD, tuned_parameters,cv=10)
DD.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': range(1, 10), 'min_samples_leaf': range(1, 10, 2)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [21]:
print("Best: %f using %s" % (DD.best_score_, DD.best_params_))

Best: 0.695922 using {'max_depth': 4, 'min_samples_leaf': 9}

In [22]:
y_pd = DD.predict(X_test)
model_tree.score(X_test, y_pd)

0.69300911854103342

调参之后正确率反而下降

## RandomForest

In [24]:
from sklearn.ensemble import RandomForestClassifier

model_RR=RandomForestClassifier()

In [25]:
model_RR.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [26]:
y_prod = model_RR.predict(X_test)
model_RR.score(X_test, y_prod)

1.0

随机森林的得分也是1,nice

试试调参, min_samples_leaf and n_estimators

In [27]:
from sklearn.ensemble import RandomForestClassifier

model_RR=RandomForestClassifier()

tuned_parameters = {'min_samples_leaf': range(1,10,2), 'n_estimators' : range(1,10,2) }
#tuned_parameters = {'min_samples_leaf': range(9,19,2), 'n_estimators' : range(6,10,1) }

In [28]:
from sklearn.model_selection import GridSearchCV
RR = GridSearchCV(model_RR, tuned_parameters,cv=10)

In [29]:
RR.fit(X_train,y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_leaf': range(1, 10, 2), 'n_estimators': range(1, 10, 2)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [30]:
RR.grid_scores_

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.61854, std: 0.01181, params: {'min_samples_leaf': 1, 'n_estimators': 1},
 mean: 0.63766, std: 0.01365, params: {'min_samples_leaf': 1, 'n_estimators': 3},
 mean: 0.66869, std: 0.01728, params: {'min_samples_leaf': 1, 'n_estimators': 5},
 mean: 0.68693, std: 0.01063, params: {'min_samples_leaf': 1, 'n_estimators': 7},
 mean: 0.69035, std: 0.01196, params: {'min_samples_leaf': 1, 'n_estimators': 9},
 mean: 0.63311, std: 0.01818, params: {'min_samples_leaf': 3, 'n_estimators': 1},
 mean: 0.69086, std: 0.01064, params: {'min_samples_leaf': 3, 'n_estimators': 3},
 mean: 0.69415, std: 0.00895, params: {'min_samples_leaf': 3, 'n_estimators': 5},
 mean: 0.69972, std: 0.01115, params: {'min_samples_leaf': 3, 'n_estimators': 7},
 mean: 0.70352, std: 0.01126, params: {'min_samples_leaf': 3, 'n_estimators': 9},
 mean: 0.65084, std: 0.01423, params: {'min_samples_leaf': 5, 'n_estimators': 1},
 mean: 0.69111, std: 0.00737, params: {'min_samples_leaf': 5, 'n_estimators': 3},
 mean: 0.70238, std: 0.01230, params: {'min_samples_leaf': 5, 'n_estimators': 5},
 mean: 0.70149, std: 0.00779, params: {'min_samples_leaf': 5, 'n_estimators': 7},
 mean: 0.70238, std: 0.00735, params: {'min_samples_leaf': 5, 'n_estimators': 9},
 mean: 0.66185, std: 0.01011, params: {'min_samples_leaf': 7, 'n_estimators': 1},
 mean: 0.69529, std: 0.01245, params: {'min_samples_leaf': 7, 'n_estimators': 3},
 mean: 0.69504, std: 0.00995, params: {'min_samples_leaf': 7, 'n_estimators': 5},
 mean: 0.70099, std: 0.00945, params: {'min_samples_leaf': 7, 'n_estimators': 7},
 mean: 0.69770, std: 0.00650, params: {'min_samples_leaf': 7, 'n_estimators': 9},
 mean: 0.66895, std: 0.01596, params: {'min_samples_leaf': 9, 'n_estimators': 1},
 mean: 0.69111, std: 0.00721, params: {'min_samples_leaf': 9, 'n_estimators': 3},
 mean: 0.69896, std: 0.00982, params: {'min_samples_leaf': 9, 'n_estimators': 5},
 mean: 0.70048, std: 0.00558, params: {'min_samples_leaf': 9, 'n_estimators': 7},
 mean: 0.70124, std: 0.00492, params: {'min_samples_leaf': 9, 'n_estimators': 9}]

In [31]:
print(RR.best_score_)
print(RR.best_params_)

0.70352077001
{'min_samples_leaf': 3, 'n_estimators': 9}

In [32]:
y_pred = RR.predict(X_test)
RR.score(X_test, y_pred)

1.0

调参后得分也是1, min_samples_leaf=3, n_estimators=9

# 预测保存

In [33]:
# 选用调参后的随机森林模型生成数据 
y_ptrdict = RR.predict(test)

In [44]:
submission = test.loc[:,['Year','Month', 'Day', 'Wday', 'Yday', 'hour']]
#submission

In [42]:
submission['interest_level']= y_ptrdict
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74659 entries, 0 to 74658
Data columns (total 7 columns):
Year              74659 non-null int64
Month             74659 non-null int64
Day               74659 non-null int64
Wday              74659 non-null int64
Yday              74659 non-null int64
hour              74659 non-null int64
interest_level    74659 non-null int64
dtypes: int64(7)
memory usage: 4.0 MB

In [43]:
submission.to_csv('submission.csv')